# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @Madis0
/Packwiz/post-exit.ps1 @Ultrasonic1209
/Packwiz/pre-launch.ps1 @Ultrasonic1209
/Packwiz/post-exit.sh @RaptaG
/Packwiz/pre-launch.sh @RaptaG
